html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.color-white {
    color: white;
}

.smallMarginTop {
    margin: 10px 0 0 0;
}

.rectangle {
    margin: 0 0 20px;
    padding: 30px;
    background-color: steelblue;
}

    .rectangle .header {
        font-size: x-large;
        font-weight: bold;
    }

    .rectangle .text {
        font-size: large;
    }

.containerGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.groupLabel {
    font-weight: bold;
    font-size: large;
}

.groupData {
    font-weight: 300;
    font-size: x-large;
    color: steelblue;
}

table th {
    text-align: left;
}

.hasSmallPrint {
}

    .hasSmallPrint::after {
        content: "*"
    }

.hasSecondSmallPrint {
}

    .hasSecondSmallPrint::after {
        content: "**";
    }

.smallPrint {
    font-weight: 200;
    font-size: small;
    color: steelblue;
}

    .smallPrint::before {
        content: "*";
    }

.secondSmallPrint {
    font-weight: 200;
    font-size: small;
    color: steelblue;
}

    .secondSmallPrint::before {
        content: "**";
    }

.additionalInfo {
    /*color code refers to steelblue - now, with opacity added*/
    font-weight: 200;
    font-size: medium;
    color: rgba(70,130,180, 30);
}
