html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.fullWidth {
    width: 100%;
}

.color-white {
    color: white;
}

.bg-steelblue {
    background-color: steelblue;
}

.btn-steelblue {
    color: #fff;
    background-color: steelblue;
    border-color: steelblue;
}

    .btn-steelblue:hover {
        color: #fff;
        background-color: #4f7492;
        border-color: #4f7492;
    }

.btn-outline-steelblue {
    color: steelblue;
    border-color: steelblue;
}

    .btn-outline-steelblue:hover {
        color: #fff;
        background-color: steelblue;
        border-color: steelblue;
    }

.smallMarginTop {
    margin: 10px 0 0 0;
}

.smallMarginBottom {
    margin: 0 0 10px;
}

.rectangle {
    margin: 0 0 20px;
    padding: 30px;
    background-color: steelblue;
}

    .rectangle .header {
        font-size: x-large;
        font-weight: bold;
    }

    .rectangle .text {
        font-size: large;
    }

.containerGroup {
    display: flex;
    align-items: center;
}

    .containerGroup.spaceBetween {
        justify-content: space-between;
    }

    .containerGroup.initial {
        justify-content: initial;
    }

        .containerGroup.initial :not(:first-child) {
            margin-left: 10px;
        }

.groupLabel {
    font-weight: bold;
    font-size: large;
}

.groupData {
    font-weight: 300;
    font-size: x-large;
    color: steelblue;
}

table th {
    text-align: left;
}

.hasSmallPrint {
}

    .hasSmallPrint::after {
        content: "*"
    }

.hasSecondSmallPrint {
}

    .hasSecondSmallPrint::after {
        content: "**";
    }

.smallPrint {
    font-weight: 200;
    font-size: small;
    color: steelblue;
}

    .smallPrint::before {
        content: "*";
    }

.secondSmallPrint {
    font-weight: 200;
    font-size: small;
    color: steelblue;
}

    .secondSmallPrint::before {
        content: "**";
    }

.additionalInfo {
    /*color code refers to steelblue - now, with opacity added*/
    font-weight: 200;
    font-size: medium;
    color: rgba(70,130,180, 30);
}

.inlineEditButton {
    font-size: large;
    padding: 2px 5px;

}

.optionsMenu {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s linear, opacity 0.2s linear;
}

.clockingTable tbody tr:hover .optionsMenu {
    visibility: visible;
    opacity: 1;
}