@{
    Layout = "~/Views/Shared/_LayoutNoHeader.cshtml";
}

@if (Model != null)
{
    <div class="smallMarginTop">
        <div class="rectangle">
            <div class="containerGroup spaceBetween">
                <span class="header color-white">Clocking Invoice</span>
                <span class="text color-white hasSmallPrint">@Model.ClockingWeek_formatted</span>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("WeeklyClocking", new { weeklyClockingInfo = Model })
}