@{
    ViewData["Title"] = "Home Page";
}
<section id="welcomeSection">
    <div class="text-center">
        <h4>Welcome again, <small class="text-muted">Ramón</small></h4>
    </div>
</section>
<section id="todaysClocking">
    <div class="text-left">
        <h5>For Today</h5>
        <div class="d-flex flex-row">
            <div class="p-2">
                <button class="btn btn-sm btn-primary">Start Log</button>
            </div>
            <div class="p-2">
                <button class="btn btn-sm btn-warning">Add break</button>
            </div>
        </div>
    </div>
    <div class="text-center">
        <!-- Load partial view to show  -->
    </div>
</section>


